@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* outline: red solid 1px; */
}

main {
    height: 100dvh;
    display: flex;
}
main aside {
    background-color: #f2f2f2;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 50px 0;
    z-index: 9000;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;

}
main .main-sections {
    width: calc(100% - 250px);
    margin-left: 250px;;
    overflow-y: auto;
    height: 100%;
}
main header {
    display: none;
}
aside img {
  width: 100px;
  height: auto;
}
main aside h2 {
    font-family: 'Lora', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    color: #4d4d4d;
    margin-top: 20px;
} 
aside .nav-links {
  width: 100%;
  list-style: none; 
  padding: 20px;
  margin-top: 50px;
}
aside .nav-links a {
  color: #4d4d4d;
  display: block;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 0.08em;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;;
}
aside .nav-links a:hover {
  font-weight: 700;
}
.contact-info {
  margin-top: 50px;
}
.contact-info p {
  align-self: center;
  font-family: 'Lora', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  justify-self: flex-end;
  margin-bottom: 10px;
  text-align: center;
  color: #4d4d4d;
  padding-left: 20px;
}
.socials-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 15px;
  width: 150px;
}
.socials-icons a {
  color: black;
  font-size: 2rem;
  transition: transform 0.3s ease-in-out;
}
.socials-icons a:hover {
  transform: scale(1.1);
  color: #4d4d4d;
}
.hero-section {
  align-items: center;
  flex-direction: column;
  height: 90vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.hero-section img {
  object-fit: cover;
  z-index: 0;
}
.hero-section img, .hero-section::before {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.hero-section::before {
  background: #0006;
  content: "";
  z-index: 1;
}
.hero-caption {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 150px;
  width: 450px;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0;
}
.typed-text {
  font-family: 'Lora', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}
.caption-social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 30px;
  width: 150px;
}
.caption-social a {
  color: white;
  font-size: 2rem;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
}
.caption-social a:hover {
  transform: scale(1.1);
}
.ins {
  color: #f2f2f2;
}
.scroll-indicator {
  align-items: center;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 3;
}
.mouse {
  height: 50px;
  margin-bottom: 10px;
  position: relative;
  width: 30px;
  border: 2px solid white;
  border-radius: 15px;
}
@keyframes scroll-wheel {
  0% {
    top: 0px;
    opacity: 0px;
  }
  50% {
    top: 16px;
    opacity: 1;
  }
  100% {
    top: 16px;
    opacity: 0;
  }
}
.scroll-wheel {
  background-color: white;
  height: 8px;
  width: 4px;
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  animation: scroll-wheel 1.5s infinite;
  border-radius: 2px;
}
.about-section {
  height: fit-content;
  width: 100%;
}
.grid-about {
  display: grid;
  padding: 100px 50px;
}
.row-about {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}
.about-image {
  height: 320px;
  width: 50%;
  flex: 1 1 0%;
  overflow: hidden;
}
.about-image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  object-position: center center;
}
.about-text {
  width: 50%;
  flex: 1 1 0%;
  padding: 20px;
}
.about-text h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}
.about-text p {
  color: #4d4d4d;
  font-family: 'Lora', sans-serif;
  font-size: 1.2em;
  line-height: 2;
}
.about-row-reverse {
  align-items: flex-start;
  display: flex;
  flex-direction: row-reverse;
}
.reverse-image {
  height: 320px;
  width: 50%;
  flex: 1 1 0%;
  overflow: hidden;
}
.reverse-image img {
  height: 100%;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}
.reverse-text {
  width: 50%;
  flex: 1 1 0%;
  padding: 20px;
}
.reverse-text h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}
.reverse-text p {
  color: #4d4d4d;
  font-weight: 'Lora', sans-serif;
  font-size: 1.2em;
  line-height: 2;
}
.row-normal {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}
.row-image {
  height: 320px;
  width: 50%;
  flex: 1 1 0%;
  overflow: hidden;
}
.row-image img {
  height: 100%;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}
.row-text {
  width: 50%;
  flex: 1 1 0%;
  padding: 20px;
}
.row-text h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}
.row-text p {
  color: #4d4d4d;
  font-family: 'Lora', sans-serif;
  font-size: 1.2em;
  line-height: 2;
}
.tools-container {
  display: flex;
  justify-content: center;
  padding: 50px 50px 80px;
  align-items: center;
  background-color: #e8e8e8;
  gap: 20px;
  height: 549.36px;
  width: 100%;
}
.tool-card {
  text-align: left;
}
.tool-icon {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.tool-card h3 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: .2em;
  line-height: 1.35;
  margin: 10px 0;
}
.tool-card p {
  color: #4d4d4d;
  font-family: 'Lora', sans-serif;
  font-size: 1.3em;
  line-height: 2;
  text-align: left;
}
.services-section {
  height: fit-content;
  width: 100%;
}
.services-caption {
  padding: 100px 50px 50px;
}
.services-caption h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}
.services-caption p {
  color: #4d4d4d;
  font-family: 'Lora', sans-serif;
  font-size: 1.2em;
  line-height: 2;
  margin-bottom: 20px;
}

.splide__pagination {
  padding: 50px;
  bottom: 2rem;
}
.splide__pagination__page {
  background: #fff !important;
  border: 0;
  border-radius: 5px !important;
  display: inline-block;
  height: 4px !important;
  margin: 3px 5px !important;
  opacity: .7;
  padding: 0;
  position: relative;
  transition: transform .2s linear;
  width: 25px !important;
}
.splide__pagination__page.is-active {
  background: #4d4d4d !important;
  height: 4px !important;
  transform: scale(1.3);
}
/* * {
  outline: red solid 1px;
} */
 .services-offered {
  padding: 50px;
  width: 100%;
 }
 .grid-service {
   display: grid;
   gap: 20px;
   grid-template-columns: repeat(2, 1fr);
 }
 .service-item {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    text-align: center;
 }
 .service-item img {
  height: 50px;
  object-fit: cover;
  width: 50px;
 }
 .service-item h5 {
     color: black;
     font-family: 700;
     font-size: 1.3em;
     letter-spacing: 0.2em;
     text-transform: uppercase;
     margin: 10px 0px;
 }
 .service-item p {
      color: #4d4d4d;
      font-family: 'Lora', sans-serif;
      font-size: 1.3em;
      line-height: 2;
      text-align: left;
 }
 .service-highlight {
  align-items: center;
  background-color: #e8e8e8;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  padding: 100px 50px;
  width: 100%;
 }
 .projects-section {
  width: 100%;
  height: fit-content;
  align-items: flex-start;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 }
 .projects-caption {
  padding: 100px 50px 50px;
 }
 .projects-caption h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
 }
 .projects-caption p {
  color: #4d4d4d;
  font-family: 'Lora', sans-serif;
  font-size: 1.2em;
  line-height: 2;
 }
 .projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 }
 .project-item {
  aspect-ratio: 1.4 / 1;
  overflow: hidden;
  position: relative;
  
 }
 .project-item img {
   height: 100%;
   object-fit: cover;
   width: 100%;
 }
.projects-info {
  align-items: center;
  background: #000c;
  bottom: 0;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding: 20px;
  position: absolute;
  right: 0;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
}
.project-item:hover .projects-info {
  opacity: 1;
  z-index: 2;
}
  .projects-info p {
    color: white;
    font-family: 'Lora', sans-serif;
    font-style: italic;
    line-height: 1.6;
    margin-top: 0.4em;
  }
.projects-info h6 {
    font-family: 'playfair Display', sans-serif;
    font-size: 1.75em;
    font-weight: 800;
    line-height: 1.25;
}
/* TESTIMONIAL SECTION */
.testimonial-section {
  width: 100%;
  height: fit-content;
  background-color: #ebebeb;
  padding: 100px 50px;
}
.testimonial-caption {
  margin-bottom: 20px;
}
.testimonial-caption h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}
.testimonial-caption p {
  color: #4d4d4d;
  font-family: 'Lora', sans-serif;
  font-size: 1.2em;
  line-height: 2;
}
.splide-testimonial {
  width: 100%;
}
.splide-testimonial .splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial-slide {
  max-width: 800px;
  padding: 20px;
  position: relative;
  text-align: left;
}
.quotation {
  color: #4d4d4d;
  font-family: 'Montserrat', sans-serif;
  font-size: 10em;
  font-style: italic;
  line-height: 1;
}
.testimonial-slide img {
  object-fit: cover;
  height: 120px;
  object-position: top center;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 120px;
  border-radius: 50%;
}
.testimonial-slide p {
  color: #4d4d4d;
  font-family: 'Lora', sans-serif;
  font-size: 1.3em;
  line-height: 2;
  margin-bottom: 10px;
}
.testimonial-slide h5 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: .1em;
  line-height: 1.35;
  text-transform: capitalize;
}
.title {
  color: #4b4b4b;
  font-family: 'Lora', sans-serif;
  font-size: .8em;
  letter-spacing: 0;
  line-height: 2;
}
.testimonial-section .splide__pagination {
  text-align: center;
  bottom: -5rem !important;
}
.testimonial-section .splide__pagination__page {
  width: 20px; 
  height: 4px; 
  border-radius: 5px;
  background: white;
  display: inline-block;
  margin: 0 6px;
  cursor: pointer; 
  transition: background 0.3s, transform 0.3s;
}
.testimonial-section .splide__pagination__page.is-active {
  background: #4b4b4b; 
  transform: scale(1.3); 
}
.contact-section {
  background-color: white;
  height: 100vh;
  padding: 50px;
  width: 100%;
}
.contact-section h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}
.contact-section form {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px 20px;
  justify-content: flex-start;
  width: 100%;
}
.contact-section form input {
  border: none;
  border-bottom: 1px solid #e8e8e8;
  color: black;
  font-family: 'Lora', sans-serif;
  font-size: 1.3em;
  line-height: 2;
  outline: none;
  padding: 10px;
  width: 48%;
}
.contact-section form textarea {
  border: none;
  border-bottom: 1px solid #e8e8e8;
  color: black;
  font-family: 'Lora', sans-serif;
  font-size: 1.3em;
  line-height: 2;
  outline: none;
  padding: 10px;
  width: 98%;
}
.contact-section form button {
  background-color: #292929;
  border: 0;
  border-radius: 30px;
  box-shadow: 0 10px 20px #0003;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: .9375em;
  font-weight: 700;
  height: 3.8em;
  letter-spacing: .28em;
  margin-top: 50px;
  padding: 1.2em 2.6em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}
.contact-section form button:hover {
  background-color: #4b4b4b;
}
footer {
  background-color: #e8e8e8;
  height: fit-content;
  padding: 20px 50px;
  width: 100%;
}
footer p {
  color: #4d4d4d;
  font-size: 1em;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}